#overview{
	margin-top: 50px;
	margin-left: 50px;
	width: 55%;
	height: auto;
}

#overview h3{
	padding: 20px;
	background-color: #473BE1;
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
	border-radius: 8px;
}

#overview ul{
	background-color: #E3E3E3;
	border-radius: 9px;

}
#overview ul li{
	font-size: 15px;
	
}
#overview ul li a{
	color:#473BE1;
	
}
.nav-custom{
	background-color: #C0C0C0;

}
#header-menu{
	background-color: #132952;
	width: 100%;

}
#header-menu b{
	color: #FFFFFF;
	font-size: 15px;

}
#header-menu i{
	color: #FFFFFF;
}
#header-menu li{
	margin-left: 80px;
	font-size: 15px;	
}
#header-menu a:hover{
	background-color: #B13131;
}

#data-list h3{
	padding: 20px;
	background-color: #473BE1;
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
	border-radius: 5px;
}
#data-list p{
	font-size: 16px;
	line-height: 16px;
	padding: 12px 12px 0px 12px;
}
.masterData_icon{
	margin: 50px;
}
#search{
	float: right;
}